.hero {
  width: 100%;
  background-color: var(--lorg);
  padding: 5rem 0;
  overflow: hidden;
}
.heroContentBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
  padding: 0 2.5rem;
  position: relative;
  height: 55rem;
  /* margin: 0 -10rem 0 0; */
}
.heroTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.heroTextContainer > span {
  font-size: 1.25rem;
  background-color: rgba(255, 109, 11, 0.15);
  color: var(--org);
  padding: 0.5rem 1.5rem;
  border-radius: 1000px;
  margin: 0 0 1.5rem 0;
}
.heroContentBox h1 {
  font-size: 4rem;
  color: var(--blue);
  font-weight: 700;
}
.heroContentBox h1 span {
  color: var(--org);
}
.heroContentBox p {
  font-size: 1.5rem;
  margin: 2.5rem 0;
  color: var(--tl);
  font-weight: 400;
}
.heroSearchBox {
  width: 100%;
  height: 5.75rem;
  display: flex;
  align-items: center;
  justify-self: center;
  background-color: var(--white);
  padding: 0 0.55rem;
  border-radius: 1000px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.0125);
  transition: 0.5s;
}
.heroSearchBox input {
  flex: 1;
  height: 5rem;
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  color: var(--td);
  padding: 0 1.5rem;
}
.heroSearchBox input::placeholder {
  color: var(--dark);
}
.heroSearchBox button {
  width: 4.75rem;
  height: 4.75rem;
  background-color: var(--org);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0;
  font-size: 2.5rem;
  color: var(--bgc);
  position: relative;
}
.heroContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.outerCircle {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  border: 0.1rem solid var(--org);
  z-index: 10;
}
.outerCircle img:nth-child(1) {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 3px solid var(--bgc);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(15%, 50%);
}
.outerCircle img:nth-child(2) {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  border: 3px solid var(--bgc);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-20%, 50%);
}
.outerCircle img:nth-child(3) {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 3px solid var(--bgc);
  position: absolute;
  top: 70%;
  right: 0;
  transform: translate(0%, -50%);
}
.outerCircle img:nth-child(4) {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  border: 3px solid var(--bgc);
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.outerCircle img:nth-child(5) {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  border: 3px solid var(--bgc);
  position: absolute;
  top: 70%;
  left: 0;
  transform: translate(0%, -50%);
}
.outerCircle img {
  transition: 0.5s;
  cursor: pointer;
  z-index: 25;
}
.innerCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28rem;
  height: 28rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.centralImg {
  width: 26.5rem;
  height: 26.5rem;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 20;
  transition: 0.75s;
}
.centralImg:nth-child(1) {
  opacity: 1;
  z-index: 25;
}
.icImg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  background-color: rgba(255, 109, 11, 0.65);
  box-shadow: 0 0 5px rgba(255, 109, 11, 0.25);
}
.icImg2 {
  position: absolute;
  top: 30%;
  right: 0;
  transform: translate(50%, 50%);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: rgba(255, 109, 11, 0.65);
  box-shadow: 0 0 5px rgba(255, 109, 11, 0.25);
}
.icImg3 {
  position: absolute;
  bottom: 0%;
  left: 0;
  transform: translate(50%, -10%);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(255, 109, 11, 0.65);
  box-shadow: 0 0 5px rgba(255, 109, 11, 0.25);
}
.icImg4 {
  position: absolute;
  bottom: 0%;
  left: 0;
  transform: translate(50%, -10%);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(255, 109, 11, 0.65);
  box-shadow: 0 0 5px rgba(255, 109, 11, 0.25);
}
.innerCircleMainImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28rem;
  height: 28rem;
  background-color: hsla(24, 100%, 52%, 0.65);
  box-shadow: 0 0 5px rgba(255, 109, 11, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  transition: 0.5s;
  overflow: hidden;
}
.sayHi {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.25rem;
  background-color: var(--bgc);
  border-radius: 0.5rem;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 150%);
  transition: 0.75s;
  cursor: pointer;
  color: var(--blue);
  z-index: 100;
}
.sayHi img {
  width: 2.75rem;
  height: 2.75rem;
  object-fit: contain;
}
.sayHi span {
  margin: 0 0 0 1.75rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.dashedCircle {
  width: 29rem;
  height: 29rem;
  border-radius: 50%;
  border: 2px dotted rgba(255, 109, 11, 0.65);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  z-index: 0;
}
.tiltSt {
  margin: 0 -10rem 0 10rem;
  position: relative;
}
.tiltSt:hover .innerCircleMainImage {
  box-shadow: 0 0 35px rgba(255, 109, 11, 0.5);
}
.tiltSt:hover .sayHi {
  transform: translate(-50%, -50%);
}
.tiltSt:hover .dashedCircle {
  width: 49rem;
  height: 49rem;
}
.studentsEnrolled {
  display: flex;
  align-items: center;
  margin: 2.5rem 0 0 1rem;
}
.studentsEnrolled span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem 0 0;
}
.studentsEnrolled span img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--bgc);
  background-color: var(--bgc);
  margin: 0 0 0 -1rem;
}
.studentsEnrolled h6 {
  font-size: 1.425rem;
  color: var(--blue);
  font-weight: 500;
  font-style: italic;
}
.studentsEnrolled h6 i {
  color: var(--org);
}
.homeSectionsHeading {
  font-size: 2.75rem;
  color: var(--blue);
  font-weight: 700;
  margin: 7.5rem 0 0 0;
  width: 100%;
  text-align: center;
}
.homeDetailsSection {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
  padding: 7.5rem 0;
}
.homeDetailsSection > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
.homeDetailsSection img {
  width: 100%;
}
.homeDetailsSection h1 {
  font-size: 2.75rem;
  color: var(--blue);
  font-weight: 700;
}
.homeDetailsSection p {
  font-size: 1.5rem;
  color: var(--dark);
  font-weight: 400;
  margin: 1.5rem 0 5rem 0;
}
.coloredDS {
  background-color: var(--lorg);
}
.homeReviewsSection,
.reviewsDetailsBox {
  max-width: 100%;
  overflow: hidden;
}
.reviewsBoxHeads img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}
.reviewsBoxHeads h1 {
  font-size: 2.75rem;
  color: var(--blue);
  font-weight: 700;
  margin: 2.5rem 0 0.5rem 0;
}
.reviewsBoxHeads h2 {
  font-size: 2.25rem;
  color: var(--org);
  font-weight: 700;
}
.imgTextBox {
  margin: 2.5rem 0;
  display: flex;
  align-items: center;
}
.imgTextBox img {
  width: 8.5rem;
  height: 8.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 1.5rem 0 0;
}
.imgTextBox span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.imgTextBox span svg {
  font-size: 2rem;
  margin: 0 0.15rem;
}
.starFill {
  color: #ffc107;
}
.starEmpty {
  color: var(--dark);
}
.imgTextBox h1 {
  font-size: 2rem;
  color: var(--blue);
  font-weight: 700;
}
.imgTextBox h2 {
  font-size: 1.35rem;
  margin: 0.25rem 0;
  color: var(--dark);
  font-weight: 400;
}
.reviewText {
  font-size: 1.5rem;
  color: var(--tl);
  margin: 2.5rem 0;
  font-weight: 400;
}
.reviewsBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem 0 0;
}
.reviewsBtns main {
  display: flex;
  align-items: center;
}
.reviewsBtns span {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--org);
  margin: 0 1.5rem 0 0;
  transition: 0.5s;
  cursor: pointer;
}
.reviewsBtns span svg {
  font-size: 2.5rem;
}
.reviewsBtns span:nth-child(1) svg {
  color: var(--org);
}
.reviewsBtns span:nth-child(2) {
  background-color: var(--org);
}
.reviewsBtns span:nth-child(2) svg {
  color: var(--bgc);
}
.reviewsBtns a {
  font-size: 1.5rem;
  color: var(--org);
  display: flex;
  align-items: center;
}
.reviewsBtns a svg {
  margin: 0 0 0 0.5rem;
  font-size: 1.75rem;
  transition: 0.5s;
}
.reviewsBtns a:hover > svg {
  transform: translate(0.5rem, 0);
}
.mobileAppBanner {
  width: 100%;
  object-fit: cover;
}
.mobTilt {
  display: none;
}
@media screen and (max-width: 1000px) {
  .homeDetailsSection {
    grid-gap: 2.5rem;
    padding: 5rem 2.5rem;
  }

  .heroSearchBox {
    margin: 2.5rem 0 0 0s;
  }
  .hero {
    padding: 2.5rem 0;
  }
  .tiltSt {
    margin: 0;
  }
  .heroContentBox {
    grid-template-columns: 1fr;
    text-align: center;
    height: unset;
  }
  .heroContentBox h1 {
    font-size: 3rem;
  }
  .heroTextContainer {
    align-items: center;
    padding: 0 15%;
  }
  .mobileAppBanner {
    width: calc(100% - 5rem);
    margin: 0 auto;
    display: flex;
  }
  .homeDetailsSection h1 {
    font-size: 2rem;
    text-align: center;
  }
  .homeDetailsSection p {
    font-size: 1.35rem;
    margin: 1.5rem 0;
  }
  .reviewsMob {
    grid-template-columns: 1fr;
  }
  .reviewsMob > img {
    display: none;
  }
  .reviewsBtns {
    width: 65%;
  }
  .reviewText {
    margin: 2.5rem auto;
    width: 65%;
    text-align: center;
  }
  .imgTextBox {
    justify-content: center;
  }
  .imgTextBox main h1 {
    text-align: start;
  }
  .homeDetailsSection > div {
    align-items: center;
  }
  .reviewsBoxHeads {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heroContainer {
    top: unset;
    right: unset;
    left: unset;
    transform: translate(0%, 0%);
    position: relative;
  }
  .tiltSt {
    display: none;
  }
  .mobTilt.tiltSt {
    display: flex;
    margin: 3.5rem 0 6.5rem 0;
    transform: unset !important;
  }
}
@media screen and (max-width: 600px) {
  .reviewsBtns {
    width: 100%;
  }

  .heroTextContainer {
    padding: 0;
  }
  .reviewText {
    width: 100%;
  }
  .homeDetailsSection {
    padding: 2.5rem;
    grid-template-columns: 1fr;
  }
  .coloredDS .homeDetailsSection > img {
    order: 1;
  }
  .coloredDS .homeDetailsSection > div {
    order: 2;
  }
  .outerCircle {
    width: 80vw;
    height: 80vw;
  }
  .innerCircle {
    width: 45vw;
    height: 45vw;
  }
  .innerCircleMainImage {
    width: 45vw;
    height: 45vw;
    box-shadow: 0 0 35px rgba(255, 109, 11, 0.5);
  }
  .dashedCircle {
    width: 47vw;
    height: 47vw;
  }
  .tiltSt:hover .dashedCircle,
  .dashedCircle {
    width: 76.5vw;
    height: 76.5vw;
  }
  .centralImg {
    width: 42.5vw;
    height: 42.5vw;
  }
  .icImg1,
  .icImg2,
  .icImg3,
  .icImg4 {
    width: 5vw;
    height: 5vw;
  }
  .icImg1 {
    top: 0;
    bottom: unset;
    left: 50%;
    right: unset;
    transform: translate(-50%, -50%);
  }
  .icImg2 {
    top: 50%;
    bottom: unset;
    left: unset;
    right: 0;
    transform: translate(50%, -50%);
  }
  .icImg3 {
    top: unset;
    bottom: 0;
    left: 50%;
    right: unset;
    transform: translate(-50%, 50%);
  }
  .icImg4 {
    top: 50%;
    bottom: unset;
    left: 0;
    right: unset;
    transform: translate(-50%, -50%);
    display: flex;
  }

  .outerCircle img:nth-child(1) {
    width: 15vw;
    height: 15vw;
    top: 0;
    bottom: unset;
    left: 50%;
    right: unset;
    transform: translate(-50%, -50%);
  }
  .outerCircle img:nth-child(2) {
    width: 15vw;
    height: 15vw;
    top: 50%;
    bottom: unset;
    left: unset;
    right: 0;
    transform: translate(50%, -50%);
  }
  .outerCircle img:nth-child(3) {
    width: 15vw;
    height: 15vw;
    top: unset;
    bottom: 0;
    left: 50%;
    right: unset;
    transform: translate(-50%, 50%);
  }
  .outerCircle img:nth-child(4) {
    width: 15vw;
    height: 15vw;
    top: 50%;
    bottom: unset;
    left: 0;
    right: unset;
    transform: translate(-50%, -50%);
  }
  .outerCircle img:nth-child(5) {
    display: none;
  }
  .sayHi {
    padding: 0.5rem 0.75rem;
    transform: translate(-50%, -50%);
    width: max-content;
  }
  .sayHi span {
    font-size: 1.15rem;
    margin: 0 0 0 0.75rem;
  }
  .sayHi img {
    width: 2.25rem;
    height: 2.25rem;
  }
}
