.loginHeader {
  font-size: 2.5rem;
  color: var(--td);
  font-weight: 700;
  padding: 2.5rem 0;
  text-align: center;
}
.loginBox {
  margin: 5rem auto;
  border: 1px solid var(--dark);
  /* width: 55%; */
  max-width: 875px;
  padding: 5rem 3.5rem;
  display: flex;
  border-radius: 1rem;
  background-color: var(--white);
}
.loginHead {
  background-color: var(--lorg);
}
.loginBox img {
  max-width: 37.5rem;
  width: 37.5rem;
  max-height: 37.5rem;
  height: 37.5rem;
  margin: 0 5rem 0 0;
  object-fit: cover;
}
.loginBoxContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.loginHealine {
  font-size: 2.5rem;
  color: var(--td);
  font-weight: 500;
  display: flex;
  align-items: center;
}
.loginBoxHeading {
  font-size: 3.25rem;
  color: var(--td);
  font-weight: 700;
}
.loginHealine span {
  color: var(--org);
}
.loginInputsBox {
  width: 100%;
}
.loginInputsBox > input[type="text"],
.passwordBox {
  margin: 0 0 1.5rem 0;
}
.passwordBox {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.passwordBox svg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-1px, -50%);
  width: 5rem;
  height: 80%;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  color: var(--dark);
  cursor: pointer;
}
.eyeOpenIcon {
  display: none;
}
.rememberBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rememberBox a {
  font-size: 1.5rem;
  color: var(--td);
}
.rememberBox a:hover {
  color: var(--org);
}
.loginBoxContent button {
  width: 100%;
  margin: 2.5rem 0 0 0;
}
.loginBoxContent h6 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--td);
  font-size: 1.5rem;
  font-weight: 400;
}
.loginBoxContent h6 a {
  color: var(--org);
  margin: 0 0 0 1.5rem;
  font-weight: 600;
}
@media screen and (max-width: 1000px) {
  .loginBox {
    margin: 5rem;
    padding: 2.5rem;
  }
  .loginBox img {
    max-width: 30rem;
    width: 30rem;
    max-height: 30rem;
    height: 30rem;
    margin: 0 2.5rem 0 0;
  }
}
@media screen and (max-width: 850px) {
  .loginBox img {
    display: none;
  }
  .loginBox {
    margin: 2.5rem;
    padding: 0;
    border: 0;
    background-color: var(--bgc);
  }
  .loginInputsBox {
    margin: 2.5rem 0;
  }
  .loginHealine {
    font-size: 1.75rem;
  }
  .loginBoxHeading {
    font-size: 2.75rem;
    margin: 1.5rem 0 0 0;
  }
  .loginHeader {
    font-size: 2rem;
  }
}
